<% page = { 'title' : 'H5/C3 Responsive', 'key': 'H5C3_PAGE_NAME'} %>
<% assets = { 'css' : ['common.css','h5c3/responsive.css'], 'js' : ['h5c3/responsive.js'] } %>

<%- partial('partials/h5c3-nav') %>

<img src="/img/web-dev.jpg" alt="banner" />
<section>
  <h1><%- t('main_headline')%></h1>
  <p><%- t('main_section1')%></p>
  <p><%- t('main_section2')%></p>
</section>
<aside>
  <h1><%- t('aside_headline')%></h1>
  <p><%- t('aside_section1')%></p>
</aside>

  



